com.bookiebot.api/public/CoreServicesForIntegrations/Tests/WSDL-Genuine/CasinoCoreWebService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 . -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://integration.casinocore.singular.ge/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://integration.casinocore.singular.ge/" name="CasinoCoreWebService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://integration.casinocore.singular.ge/"
                        schemaLocation="http://172.16.19.145:80/CasinoCoreWebService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="addStatus">
        <part name="parameters" element="tns:addStatus"/>
    </message>
    <message name="addStatusResponse">
        <part name="parameters" element="tns:addStatusResponse"/>
    </message>
    <message name="getStatuses">
        <part name="parameters" element="tns:getStatuses"/>
    </message>
    <message name="getStatusesResponse">
        <part name="parameters" element="tns:getStatusesResponse"/>
    </message>
    <message name="updateUsersPersonalInfo">
        <part name="parameters" element="tns:updateUsersPersonalInfo"/>
    </message>
    <message name="updateUsersPersonalInfoResponse">
        <part name="parameters" element="tns:updateUsersPersonalInfoResponse"/>
    </message>
    <message name="changeUsersStatus">
        <part name="parameters" element="tns:changeUsersStatus"/>
    </message>
    <message name="changeUsersStatusResponse">
        <part name="parameters" element="tns:changeUsersStatusResponse"/>
    </message>
    <message name="editUsersClubCard">
        <part name="parameters" element="tns:editUsersClubCard"/>
    </message>
    <message name="editUsersClubCardResponse">
        <part name="parameters" element="tns:editUsersClubCardResponse"/>
    </message>
    <message name="updateGamingIndex">
        <part name="parameters" element="tns:updateGamingIndex"/>
    </message>
    <message name="updateGamingIndexResponse">
        <part name="parameters" element="tns:updateGamingIndexResponse"/>
    </message>
    <message name="getUserHistory">
        <part name="parameters" element="tns:getUserHistory"/>
    </message>
    <message name="getUserHistoryResponse">
        <part name="parameters" element="tns:getUserHistoryResponse"/>
    </message>
    <message name="lookupUserInfo">
        <part name="parameters" element="tns:lookupUserInfo"/>
    </message>
    <message name="lookupUserInfoResponse">
        <part name="parameters" element="tns:lookupUserInfoResponse"/>
    </message>
    <message name="lookupUserInfoInHistory">
        <part name="parameters" element="tns:lookupUserInfoInHistory"/>
    </message>
    <message name="lookupUserInfoInHistoryResponse">
        <part name="parameters" element="tns:lookupUserInfoInHistoryResponse"/>
    </message>
    <message name="suspendUser">
        <part name="parameters" element="tns:suspendUser"/>
    </message>
    <message name="suspendUserResponse">
        <part name="parameters" element="tns:suspendUserResponse"/>
    </message>
    <message name="unSuspendUser">
        <part name="parameters" element="tns:unSuspendUser"/>
    </message>
    <message name="unSuspendUserResponse">
        <part name="parameters" element="tns:unSuspendUserResponse"/>
    </message>
    <message name="updateActiveNotifications">
        <part name="parameters" element="tns:updateActiveNotifications"/>
    </message>
    <message name="updateActiveNotificationsResponse">
        <part name="parameters" element="tns:updateActiveNotificationsResponse"/>
    </message>
    <message name="updateCanVerifyIDDoc">
        <part name="parameters" element="tns:updateCanVerifyIDDoc"/>
    </message>
    <message name="updateCanVerifyIDDocResponse">
        <part name="parameters" element="tns:updateCanVerifyIDDocResponse"/>
    </message>
    <message name="changeUserPreferedCurrency">
        <part name="parameters" element="tns:changeUserPreferedCurrency"/>
    </message>
    <message name="changeUserPreferedCurrencyResponse">
        <part name="parameters" element="tns:changeUserPreferedCurrencyResponse"/>
    </message>
    <message name="selfExcludeUser">
        <part name="parameters" element="tns:selfExcludeUser"/>
    </message>
    <message name="selfExcludeUserResponse">
        <part name="parameters" element="tns:selfExcludeUserResponse"/>
    </message>
    <message name="getDepositLimits">
        <part name="parameters" element="tns:getDepositLimits"/>
    </message>
    <message name="getDepositLimitsResponse">
        <part name="parameters" element="tns:getDepositLimitsResponse"/>
    </message>
    <message name="getSelfExcludeInfo">
        <part name="parameters" element="tns:getSelfExcludeInfo"/>
    </message>
    <message name="getSelfExcludeInfoResponse">
        <part name="parameters" element="tns:getSelfExcludeInfoResponse"/>
    </message>
    <message name="getUsersTransactionLimitAmount">
        <part name="parameters" element="tns:getUsersTransactionLimitAmount"/>
    </message>
    <message name="getUsersTransactionLimitAmountResponse">
        <part name="parameters" element="tns:getUsersTransactionLimitAmountResponse"/>
    </message>
    <message name="getUsersActiveSession">
        <part name="parameters" element="tns:getUsersActiveSession"/>
    </message>
    <message name="getUsersActiveSessionResponse">
        <part name="parameters" element="tns:getUsersActiveSessionResponse"/>
    </message>
    <message name="logoutUser">
        <part name="parameters" element="tns:logoutUser"/>
    </message>
    <message name="logoutUserResponse">
        <part name="parameters" element="tns:logoutUserResponse"/>
    </message>
    <message name="getActiveCurrencies">
        <part name="parameters" element="tns:getActiveCurrencies"/>
    </message>
    <message name="getActiveCurrenciesResponse">
        <part name="parameters" element="tns:getActiveCurrenciesResponse"/>
    </message>
    <message name="getSystemPrimaryCurrency">
        <part name="parameters" element="tns:getSystemPrimaryCurrency"/>
    </message>
    <message name="getSystemPrimaryCurrencyResponse">
        <part name="parameters" element="tns:getSystemPrimaryCurrencyResponse"/>
    </message>
    <message name="addNewProvider">
        <part name="parameters" element="tns:addNewProvider"/>
    </message>
    <message name="addNewProviderResponse">
        <part name="parameters" element="tns:addNewProviderResponse"/>
    </message>
    <message name="editProvider">
        <part name="parameters" element="tns:editProvider"/>
    </message>
    <message name="editProviderResponse">
        <part name="parameters" element="tns:editProviderResponse"/>
    </message>
    <message name="updateExchangeRate">
        <part name="parameters" element="tns:updateExchangeRate"/>
    </message>
    <message name="updateExchangeRateResponse">
        <part name="parameters" element="tns:updateExchangeRateResponse"/>
    </message>
    <message name="exchange">
        <part name="parameters" element="tns:exchange"/>
    </message>
    <message name="exchangeResponse">
        <part name="parameters" element="tns:exchangeResponse"/>
    </message>
    <message name="getExchangeRates">
        <part name="parameters" element="tns:getExchangeRates"/>
    </message>
    <message name="getExchangeRatesResponse">
        <part name="parameters" element="tns:getExchangeRatesResponse"/>
    </message>
    <message name="getExchangeRatesArchive">
        <part name="parameters" element="tns:getExchangeRatesArchive"/>
    </message>
    <message name="getExchangeRatesArchiveResponse">
        <part name="parameters" element="tns:getExchangeRatesArchiveResponse"/>
    </message>
    <message name="getUserActiveAccount">
        <part name="parameters" element="tns:getUserActiveAccount"/>
    </message>
    <message name="getUserActiveAccountResponse">
        <part name="parameters" element="tns:getUserActiveAccountResponse"/>
    </message>
    <message name="getUserAccessList">
        <part name="parameters" element="tns:getUserAccessList"/>
    </message>
    <message name="getUserAccessListResponse">
        <part name="parameters" element="tns:getUserAccessListResponse"/>
    </message>
    <message name="checkUsersCredentials">
        <part name="parameters" element="tns:checkUsersCredentials"/>
    </message>
    <message name="checkUsersCredentialsResponse">
        <part name="parameters" element="tns:checkUsersCredentialsResponse"/>
    </message>
    <message name="getReferralsByReferralName">
        <part name="parameters" element="tns:getReferralsByReferralName"/>
    </message>
    <message name="getReferralsByReferralNameResponse">
        <part name="parameters" element="tns:getReferralsByReferralNameResponse"/>
    </message>
    <message name="offUsersOTP">
        <part name="parameters" element="tns:offUsersOTP"/>
    </message>
    <message name="offUsersOTPResponse">
        <part name="parameters" element="tns:offUsersOTPResponse"/>
    </message>
    <message name="idDocExists">
        <part name="parameters" element="tns:idDocExists"/>
    </message>
    <message name="idDocExistsResponse">
        <part name="parameters" element="tns:idDocExistsResponse"/>
    </message>
    <message name="updateIDDocument">
        <part name="parameters" element="tns:updateIDDocument"/>
    </message>
    <message name="updateIDDocumentResponse">
        <part name="parameters" element="tns:updateIDDocumentResponse"/>
    </message>
    <message name="editPromoCode">
        <part name="parameters" element="tns:editPromoCode"/>
    </message>
    <message name="editPromoCodeResponse">
        <part name="parameters" element="tns:editPromoCodeResponse"/>
    </message>
    <message name="getReferral">
        <part name="parameters" element="tns:getReferral"/>
    </message>
    <message name="getReferralResponse">
        <part name="parameters" element="tns:getReferralResponse"/>
    </message>
    <message name="getReferrals">
        <part name="parameters" element="tns:getReferrals"/>
    </message>
    <message name="getReferralsResponse">
        <part name="parameters" element="tns:getReferralsResponse"/>
    </message>
    <message name="getReferralCount">
        <part name="parameters" element="tns:getReferralCount"/>
    </message>
    <message name="getReferralCountResponse">
        <part name="parameters" element="tns:getReferralCountResponse"/>
    </message>
    <message name="addReferral">
        <part name="parameters" element="tns:addReferral"/>
    </message>
    <message name="addReferralResponse">
        <part name="parameters" element="tns:addReferralResponse"/>
    </message>
    <message name="editReferral">
        <part name="parameters" element="tns:editReferral"/>
    </message>
    <message name="editReferralResponse">
        <part name="parameters" element="tns:editReferralResponse"/>
    </message>
    <message name="getServiceAuthToken">
        <part name="parameters" element="tns:getServiceAuthToken"/>
    </message>
    <message name="getServiceAuthTokenResponse">
        <part name="parameters" element="tns:getServiceAuthTokenResponse"/>
    </message>
    <message name="getPromoCode">
        <part name="parameters" element="tns:getPromoCode"/>
    </message>
    <message name="getPromoCodeResponse">
        <part name="parameters" element="tns:getPromoCodeResponse"/>
    </message>
    <message name="getPromoCodes">
        <part name="parameters" element="tns:getPromoCodes"/>
    </message>
    <message name="getPromoCodesResponse">
        <part name="parameters" element="tns:getPromoCodesResponse"/>
    </message>
    <message name="getPromoCodeCount">
        <part name="parameters" element="tns:getPromoCodeCount"/>
    </message>
    <message name="getPromoCodeCountResponse">
        <part name="parameters" element="tns:getPromoCodeCountResponse"/>
    </message>
    <message name="addPromoCode">
        <part name="parameters" element="tns:addPromoCode"/>
    </message>
    <message name="addPromoCodeResponse">
        <part name="parameters" element="tns:addPromoCodeResponse"/>
    </message>
    <message name="getProviderCount">
        <part name="parameters" element="tns:getProviderCount"/>
    </message>
    <message name="getProviderCountResponse">
        <part name="parameters" element="tns:getProviderCountResponse"/>
    </message>
    <message name="authenticateUserByToken">
        <part name="parameters" element="tns:authenticateUserByToken"/>
    </message>
    <message name="authenticateUserByTokenResponse">
        <part name="parameters" element="tns:authenticateUserByTokenResponse"/>
    </message>
    <message name="addNewIDDocument">
        <part name="parameters" element="tns:addNewIDDocument"/>
    </message>
    <message name="addNewIDDocumentResponse">
        <part name="parameters" element="tns:addNewIDDocumentResponse"/>
    </message>
    <message name="editIDDocumentPhoto">
        <part name="parameters" element="tns:editIDDocumentPhoto"/>
    </message>
    <message name="editIDDocumentPhotoResponse">
        <part name="parameters" element="tns:editIDDocumentPhotoResponse"/>
    </message>
    <message name="deleteIDDocument">
        <part name="parameters" element="tns:deleteIDDocument"/>
    </message>
    <message name="deleteIDDocumentResponse">
        <part name="parameters" element="tns:deleteIDDocumentResponse"/>
    </message>
    <message name="getUsersIDDocuments">
        <part name="parameters" element="tns:getUsersIDDocuments"/>
    </message>
    <message name="getUsersIDDocumentsResponse">
        <part name="parameters" element="tns:getUsersIDDocumentsResponse"/>
    </message>
    <message name="getUsersIDDocumentsArchive">
        <part name="parameters" element="tns:getUsersIDDocumentsArchive"/>
    </message>
    <message name="getUsersIDDocumentsArchiveResponse">
        <part name="parameters" element="tns:getUsersIDDocumentsArchiveResponse"/>
    </message>
    <message name="resetPassword">
        <part name="parameters" element="tns:resetPassword"/>
    </message>
    <message name="resetPasswordResponse">
        <part name="parameters" element="tns:resetPasswordResponse"/>
    </message>
    <message name="lookupIDDocuments">
        <part name="parameters" element="tns:lookupIDDocuments"/>
    </message>
    <message name="lookupIDDocumentsResponse">
        <part name="parameters" element="tns:lookupIDDocumentsResponse"/>
    </message>
    <message name="lookupIDDocumentHistory">
        <part name="parameters" element="tns:lookupIDDocumentHistory"/>
    </message>
    <message name="lookupIDDocumentHistoryResponse">
        <part name="parameters" element="tns:lookupIDDocumentHistoryResponse"/>
    </message>
    <message name="lookupIDDocument">
        <part name="parameters" element="tns:lookupIDDocument"/>
    </message>
    <message name="lookupIDDocumentResponse">
        <part name="parameters" element="tns:lookupIDDocumentResponse"/>
    </message>
    <message name="lookupIDDocumentHistoryExtended">
        <part name="parameters" element="tns:lookupIDDocumentHistoryExtended"/>
    </message>
    <message name="lookupIDDocumentHistoryExtendedResponse">
        <part name="parameters" element="tns:lookupIDDocumentHistoryExtendedResponse"/>
    </message>
    <message name="getIDDocumentsToVerify">
        <part name="parameters" element="tns:getIDDocumentsToVerify"/>
    </message>
    <message name="getIDDocumentsToVerifyResponse">
        <part name="parameters" element="tns:getIDDocumentsToVerifyResponse"/>
    </message>
    <message name="getIDDocumentsToVerifyCount">
        <part name="parameters" element="tns:getIDDocumentsToVerifyCount"/>
    </message>
    <message name="getIDDocumentsToVerifyCountResponse">
        <part name="parameters" element="tns:getIDDocumentsToVerifyCountResponse"/>
    </message>
    <message name="editStatus">
        <part name="parameters" element="tns:editStatus"/>
    </message>
    <message name="editStatusResponse">
        <part name="parameters" element="tns:editStatusResponse"/>
    </message>
    <message name="getBalance">
        <part name="parameters" element="tns:getBalance"/>
    </message>
    <message name="getBalanceResponse">
        <part name="parameters" element="tns:getBalanceResponse"/>
    </message>
    <message name="getUserActiveAccounts">
        <part name="parameters" element="tns:getUserActiveAccounts"/>
    </message>
    <message name="getUserActiveAccountsResponse">
        <part name="parameters" element="tns:getUserActiveAccountsResponse"/>
    </message>
    <message name="getUserData">
        <part name="parameters" element="tns:getUserData"/>
    </message>
    <message name="getUserDataResponse">
        <part name="parameters" element="tns:getUserDataResponse"/>
    </message>
    <message name="getStatus">
        <part name="parameters" element="tns:getStatus"/>
    </message>
    <message name="getStatusResponse">
        <part name="parameters" element="tns:getStatusResponse"/>
    </message>
    <message name="getProvider">
        <part name="parameters" element="tns:getProvider"/>
    </message>
    <message name="getProviderResponse">
        <part name="parameters" element="tns:getProviderResponse"/>
    </message>
    <message name="getProviders">
        <part name="parameters" element="tns:getProviders"/>
    </message>
    <message name="getProvidersResponse">
        <part name="parameters" element="tns:getProvidersResponse"/>
    </message>
    <message name="getUserInfo">
        <part name="parameters" element="tns:getUserInfo"/>
    </message>
    <message name="getUserInfoResponse">
        <part name="parameters" element="tns:getUserInfoResponse"/>
    </message>
    <portType name="CasinoCoreWebService">
        <operation name="addStatus">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/addStatusRequest"
                   message="tns:addStatus"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/addStatusResponse"
                    message="tns:addStatusResponse"/>
        </operation>
        <operation name="getStatuses">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getStatusesRequest"
                   message="tns:getStatuses"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getStatusesResponse"
                    message="tns:getStatusesResponse"/>
        </operation>
        <operation name="updateUsersPersonalInfo">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateUsersPersonalInfoRequest"
                   message="tns:updateUsersPersonalInfo"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateUsersPersonalInfoResponse"
                    message="tns:updateUsersPersonalInfoResponse"/>
        </operation>
        <operation name="changeUsersStatus">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/changeUsersStatusRequest"
                   message="tns:changeUsersStatus"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/changeUsersStatusResponse"
                    message="tns:changeUsersStatusResponse"/>
        </operation>
        <operation name="editUsersClubCard">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editUsersClubCardRequest"
                   message="tns:editUsersClubCard"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editUsersClubCardResponse"
                    message="tns:editUsersClubCardResponse"/>
        </operation>
        <operation name="updateGamingIndex">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateGamingIndexRequest"
                   message="tns:updateGamingIndex"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateGamingIndexResponse"
                    message="tns:updateGamingIndexResponse"/>
        </operation>
        <operation name="getUserHistory">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserHistoryRequest"
                   message="tns:getUserHistory"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserHistoryResponse"
                    message="tns:getUserHistoryResponse"/>
        </operation>
        <operation name="lookupUserInfo">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupUserInfoRequest"
                   message="tns:lookupUserInfo"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupUserInfoResponse"
                    message="tns:lookupUserInfoResponse"/>
        </operation>
        <operation name="lookupUserInfoInHistory">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupUserInfoInHistoryRequest"
                   message="tns:lookupUserInfoInHistory"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupUserInfoInHistoryResponse"
                    message="tns:lookupUserInfoInHistoryResponse"/>
        </operation>
        <operation name="suspendUser">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/suspendUserRequest"
                   message="tns:suspendUser"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/suspendUserResponse"
                    message="tns:suspendUserResponse"/>
        </operation>
        <operation name="unSuspendUser">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/unSuspendUserRequest"
                   message="tns:unSuspendUser"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/unSuspendUserResponse"
                    message="tns:unSuspendUserResponse"/>
        </operation>
        <operation name="updateActiveNotifications">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateActiveNotificationsRequest"
                   message="tns:updateActiveNotifications"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateActiveNotificationsResponse"
                    message="tns:updateActiveNotificationsResponse"/>
        </operation>
        <operation name="updateCanVerifyIDDoc">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateCanVerifyIDDocRequest"
                   message="tns:updateCanVerifyIDDoc"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateCanVerifyIDDocResponse"
                    message="tns:updateCanVerifyIDDocResponse"/>
        </operation>
        <operation name="changeUserPreferedCurrency">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/changeUserPreferedCurrencyRequest"
                   message="tns:changeUserPreferedCurrency"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/changeUserPreferedCurrencyResponse"
                    message="tns:changeUserPreferedCurrencyResponse"/>
        </operation>
        <operation name="selfExcludeUser">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/selfExcludeUserRequest"
                   message="tns:selfExcludeUser"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/selfExcludeUserResponse"
                    message="tns:selfExcludeUserResponse"/>
        </operation>
        <operation name="getDepositLimits">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getDepositLimitsRequest"
                   message="tns:getDepositLimits"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getDepositLimitsResponse"
                    message="tns:getDepositLimitsResponse"/>
        </operation>
        <operation name="getSelfExcludeInfo">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getSelfExcludeInfoRequest"
                   message="tns:getSelfExcludeInfo"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getSelfExcludeInfoResponse"
                    message="tns:getSelfExcludeInfoResponse"/>
        </operation>
        <operation name="getUsersTransactionLimitAmount">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUsersTransactionLimitAmountRequest"
                   message="tns:getUsersTransactionLimitAmount"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUsersTransactionLimitAmountResponse"
                    message="tns:getUsersTransactionLimitAmountResponse"/>
        </operation>
        <operation name="getUsersActiveSession">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUsersActiveSessionRequest"
                   message="tns:getUsersActiveSession"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUsersActiveSessionResponse"
                    message="tns:getUsersActiveSessionResponse"/>
        </operation>
        <operation name="logoutUser">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/logoutUserRequest"
                   message="tns:logoutUser"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/logoutUserResponse"
                    message="tns:logoutUserResponse"/>
        </operation>
        <operation name="getActiveCurrencies">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getActiveCurrenciesRequest"
                   message="tns:getActiveCurrencies"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getActiveCurrenciesResponse"
                    message="tns:getActiveCurrenciesResponse"/>
        </operation>
        <operation name="getSystemPrimaryCurrency">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getSystemPrimaryCurrencyRequest"
                   message="tns:getSystemPrimaryCurrency"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getSystemPrimaryCurrencyResponse"
                    message="tns:getSystemPrimaryCurrencyResponse"/>
        </operation>
        <operation name="addNewProvider">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/addNewProviderRequest"
                   message="tns:addNewProvider"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/addNewProviderResponse"
                    message="tns:addNewProviderResponse"/>
        </operation>
        <operation name="editProvider">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editProviderRequest"
                   message="tns:editProvider"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editProviderResponse"
                    message="tns:editProviderResponse"/>
        </operation>
        <operation name="updateExchangeRate">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateExchangeRateRequest"
                   message="tns:updateExchangeRate"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateExchangeRateResponse"
                    message="tns:updateExchangeRateResponse"/>
        </operation>
        <operation name="exchange">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/exchangeRequest"
                   message="tns:exchange"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/exchangeResponse"
                    message="tns:exchangeResponse"/>
        </operation>
        <operation name="getExchangeRates">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getExchangeRatesRequest"
                   message="tns:getExchangeRates"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getExchangeRatesResponse"
                    message="tns:getExchangeRatesResponse"/>
        </operation>
        <operation name="getExchangeRatesArchive">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getExchangeRatesArchiveRequest"
                   message="tns:getExchangeRatesArchive"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getExchangeRatesArchiveResponse"
                    message="tns:getExchangeRatesArchiveResponse"/>
        </operation>
        <operation name="getUserActiveAccount">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserActiveAccountRequest"
                   message="tns:getUserActiveAccount"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserActiveAccountResponse"
                    message="tns:getUserActiveAccountResponse"/>
        </operation>
        <operation name="getUserAccessList">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserAccessListRequest"
                   message="tns:getUserAccessList"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserAccessListResponse"
                    message="tns:getUserAccessListResponse"/>
        </operation>
        <operation name="checkUsersCredentials">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/checkUsersCredentialsRequest"
                   message="tns:checkUsersCredentials"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/checkUsersCredentialsResponse"
                    message="tns:checkUsersCredentialsResponse"/>
        </operation>
        <operation name="getReferralsByReferralName">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getReferralsByReferralNameRequest"
                   message="tns:getReferralsByReferralName"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getReferralsByReferralNameResponse"
                    message="tns:getReferralsByReferralNameResponse"/>
        </operation>
        <operation name="offUsersOTP">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/offUsersOTPRequest"
                   message="tns:offUsersOTP"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/offUsersOTPResponse"
                    message="tns:offUsersOTPResponse"/>
        </operation>
        <operation name="idDocExists">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/idDocExistsRequest"
                   message="tns:idDocExists"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/idDocExistsResponse"
                    message="tns:idDocExistsResponse"/>
        </operation>
        <operation name="updateIDDocument">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateIDDocumentRequest"
                   message="tns:updateIDDocument"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/updateIDDocumentResponse"
                    message="tns:updateIDDocumentResponse"/>
        </operation>
        <operation name="editPromoCode">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editPromoCodeRequest"
                   message="tns:editPromoCode"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editPromoCodeResponse"
                    message="tns:editPromoCodeResponse"/>
        </operation>
        <operation name="getReferral">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getReferralRequest"
                   message="tns:getReferral"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getReferralResponse"
                    message="tns:getReferralResponse"/>
        </operation>
        <operation name="getReferrals">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getReferralsRequest"
                   message="tns:getReferrals"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getReferralsResponse"
                    message="tns:getReferralsResponse"/>
        </operation>
        <operation name="getReferralCount">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getReferralCountRequest"
                   message="tns:getReferralCount"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getReferralCountResponse"
                    message="tns:getReferralCountResponse"/>
        </operation>
        <operation name="addReferral">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/addReferralRequest"
                   message="tns:addReferral"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/addReferralResponse"
                    message="tns:addReferralResponse"/>
        </operation>
        <operation name="editReferral">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editReferralRequest"
                   message="tns:editReferral"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editReferralResponse"
                    message="tns:editReferralResponse"/>
        </operation>
        <operation name="getServiceAuthToken">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getServiceAuthTokenRequest"
                   message="tns:getServiceAuthToken"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getServiceAuthTokenResponse"
                    message="tns:getServiceAuthTokenResponse"/>
        </operation>
        <operation name="getPromoCode">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getPromoCodeRequest"
                   message="tns:getPromoCode"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getPromoCodeResponse"
                    message="tns:getPromoCodeResponse"/>
        </operation>
        <operation name="getPromoCodes">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getPromoCodesRequest"
                   message="tns:getPromoCodes"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getPromoCodesResponse"
                    message="tns:getPromoCodesResponse"/>
        </operation>
        <operation name="getPromoCodeCount">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getPromoCodeCountRequest"
                   message="tns:getPromoCodeCount"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getPromoCodeCountResponse"
                    message="tns:getPromoCodeCountResponse"/>
        </operation>
        <operation name="addPromoCode">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/addPromoCodeRequest"
                   message="tns:addPromoCode"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/addPromoCodeResponse"
                    message="tns:addPromoCodeResponse"/>
        </operation>
        <operation name="getProviderCount">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getProviderCountRequest"
                   message="tns:getProviderCount"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getProviderCountResponse"
                    message="tns:getProviderCountResponse"/>
        </operation>
        <operation name="authenticateUserByToken">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/authenticateUserByTokenRequest"
                   message="tns:authenticateUserByToken"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/authenticateUserByTokenResponse"
                    message="tns:authenticateUserByTokenResponse"/>
        </operation>
        <operation name="addNewIDDocument">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/addNewIDDocumentRequest"
                   message="tns:addNewIDDocument"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/addNewIDDocumentResponse"
                    message="tns:addNewIDDocumentResponse"/>
        </operation>
        <operation name="editIDDocumentPhoto">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editIDDocumentPhotoRequest"
                   message="tns:editIDDocumentPhoto"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editIDDocumentPhotoResponse"
                    message="tns:editIDDocumentPhotoResponse"/>
        </operation>
        <operation name="deleteIDDocument">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/deleteIDDocumentRequest"
                   message="tns:deleteIDDocument"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/deleteIDDocumentResponse"
                    message="tns:deleteIDDocumentResponse"/>
        </operation>
        <operation name="getUsersIDDocuments">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUsersIDDocumentsRequest"
                   message="tns:getUsersIDDocuments"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUsersIDDocumentsResponse"
                    message="tns:getUsersIDDocumentsResponse"/>
        </operation>
        <operation name="getUsersIDDocumentsArchive">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUsersIDDocumentsArchiveRequest"
                   message="tns:getUsersIDDocumentsArchive"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUsersIDDocumentsArchiveResponse"
                    message="tns:getUsersIDDocumentsArchiveResponse"/>
        </operation>
        <operation name="resetPassword">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/resetPasswordRequest"
                   message="tns:resetPassword"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/resetPasswordResponse"
                    message="tns:resetPasswordResponse"/>
        </operation>
        <operation name="lookupIDDocuments">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupIDDocumentsRequest"
                   message="tns:lookupIDDocuments"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupIDDocumentsResponse"
                    message="tns:lookupIDDocumentsResponse"/>
        </operation>
        <operation name="lookupIDDocumentHistory">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupIDDocumentHistoryRequest"
                   message="tns:lookupIDDocumentHistory"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupIDDocumentHistoryResponse"
                    message="tns:lookupIDDocumentHistoryResponse"/>
        </operation>
        <operation name="lookupIDDocument">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupIDDocumentRequest"
                   message="tns:lookupIDDocument"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupIDDocumentResponse"
                    message="tns:lookupIDDocumentResponse"/>
        </operation>
        <operation name="lookupIDDocumentHistoryExtended">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupIDDocumentHistoryExtendedRequest"
                   message="tns:lookupIDDocumentHistoryExtended"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/lookupIDDocumentHistoryExtendedResponse"
                    message="tns:lookupIDDocumentHistoryExtendedResponse"/>
        </operation>
        <operation name="getIDDocumentsToVerify">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getIDDocumentsToVerifyRequest"
                   message="tns:getIDDocumentsToVerify"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getIDDocumentsToVerifyResponse"
                    message="tns:getIDDocumentsToVerifyResponse"/>
        </operation>
        <operation name="getIDDocumentsToVerifyCount">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getIDDocumentsToVerifyCountRequest"
                   message="tns:getIDDocumentsToVerifyCount"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getIDDocumentsToVerifyCountResponse"
                    message="tns:getIDDocumentsToVerifyCountResponse"/>
        </operation>
        <operation name="editStatus">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editStatusRequest"
                   message="tns:editStatus"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/editStatusResponse"
                    message="tns:editStatusResponse"/>
        </operation>
        <operation name="getBalance">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getBalanceRequest"
                   message="tns:getBalance"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getBalanceResponse"
                    message="tns:getBalanceResponse"/>
        </operation>
        <operation name="getUserActiveAccounts">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserActiveAccountsRequest"
                   message="tns:getUserActiveAccounts"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserActiveAccountsResponse"
                    message="tns:getUserActiveAccountsResponse"/>
        </operation>
        <operation name="getUserData">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserDataRequest"
                   message="tns:getUserData"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserDataResponse"
                    message="tns:getUserDataResponse"/>
        </operation>
        <operation name="getStatus">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getStatusRequest"
                   message="tns:getStatus"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getStatusResponse"
                    message="tns:getStatusResponse"/>
        </operation>
        <operation name="getProvider">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getProviderRequest"
                   message="tns:getProvider"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getProviderResponse"
                    message="tns:getProviderResponse"/>
        </operation>
        <operation name="getProviders">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getProvidersRequest"
                   message="tns:getProviders"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getProvidersResponse"
                    message="tns:getProvidersResponse"/>
        </operation>
        <operation name="getUserInfo">
            <input wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserInfoRequest"
                   message="tns:getUserInfo"/>
            <output wsam:Action="http://integration.casinocore.singular.ge/CasinoCoreWebService/getUserInfoResponse"
                    message="tns:getUserInfoResponse"/>
        </operation>
    </portType>
    <binding name="CasinoCoreWebServicePortBinding" type="tns:CasinoCoreWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="addStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getStatuses">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateUsersPersonalInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="changeUsersStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="editUsersClubCard">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateGamingIndex">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUserHistory">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="lookupUserInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="lookupUserInfoInHistory">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="suspendUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="unSuspendUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateActiveNotifications">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateCanVerifyIDDoc">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="changeUserPreferedCurrency">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="selfExcludeUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDepositLimits">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSelfExcludeInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUsersTransactionLimitAmount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUsersActiveSession">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="logoutUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getActiveCurrencies">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSystemPrimaryCurrency">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addNewProvider">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="editProvider">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateExchangeRate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="exchange">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getExchangeRates">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getExchangeRatesArchive">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUserActiveAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUserAccessList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkUsersCredentials">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getReferralsByReferralName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="offUsersOTP">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="idDocExists">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateIDDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="editPromoCode">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getReferral">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getReferrals">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getReferralCount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addReferral">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="editReferral">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getServiceAuthToken">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPromoCode">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPromoCodes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPromoCodeCount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addPromoCode">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getProviderCount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="authenticateUserByToken">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addNewIDDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="editIDDocumentPhoto">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteIDDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUsersIDDocuments">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUsersIDDocumentsArchive">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="resetPassword">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="lookupIDDocuments">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="lookupIDDocumentHistory">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="lookupIDDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="lookupIDDocumentHistoryExtended">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getIDDocumentsToVerify">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getIDDocumentsToVerifyCount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="editStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getBalance">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUserActiveAccounts">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUserData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getProvider">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getProviders">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUserInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CasinoCoreWebService">
        <port name="CasinoCoreWebServicePort" binding="tns:CasinoCoreWebServicePortBinding">
            <soap:address location="http://172.16.19.145:80/CasinoCoreWebService"/>
        </port>
    </service>
</definitions>